@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --color-main: var(--main);
  --color-shadow: var(--shadow);
  --color-alt: var(--alt);
  --color-hilight: var(--hilight);
  --color-print: var(--print);
}
