@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --color-main: var(--main);
  --color-shadow: var(--shadow);
  --color-alt: var(--alt);
  --color-hilight: var(--hilight);
  --color-print: var(--print);
  --color-invert: var(--invert);
}

body {
  background-color: var(--main);
  color: var(--print);
  height: 100vh;
}

input,
select {
  @apply rounded-lg border-shadow bg-shadow/20;
}
