@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --color-l-base: #d7d7d7;
  --color-l-content: #ebebeb;
  --color-l-shadow: #adadad;
  --color-l-print: #121212;
  --color-l-invert: #f5f5f5;
  --color-l-accent: #990000;

  --color-d-base: #1b1b1b;
  --color-d-content: #272727;
  --color-d-shadow: #333333;
  --color-d-print: #e7e7e7;
  --color-d-invert: #1b1b1b;
  --color-d-accent: #ff2222;
}

body {
  @apply bg-l-base text-l-print dark:bg-d-base dark:text-d-print;
  height: 100vh;
}
