@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

/* light theme */
:root {
  --base: #d7d7d7;
  --content: #ebebeb;
  --shadow: #adadad;
  --print: #121212;
  --invert: #f5f5f5;
  --accent: #990000;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --base: #1b1b1b;
    --content: #272727;
    --shadow: #333333;
    --print: #e7e7e7;
    --invert: #1b1b1b;
    --accent: #ff2222;
  }
}

@theme {
  --color-base: var(--base);
  --color-content: var(--content);
  --color-shadow: var(--shadow);
  --color-print: var(--print);
  --color-invert: var(--invert);
  --color-accent: var(--accent);
}

body {
  @apply bg-base text-print;
  height: 100vh;
}
